body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

select {
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

#language-selector {
  text-align: center;
}
