<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seleção de Idioma</title>
    <link rel="stylesheet" href="../Styles/styles.css" />
  </head>
  <body>
    <div id="language-selector">
      <h2>Selecione o idioma de origem:</h2>
      <select id="source-language">
        <option value="en">Inglês</option>
        <option value="it">Italiano</option>
        <option value="zh">Mandarim</option>
      </select>
      <button id="confirm-language">Confirmar Seleção</button>
    </div>

    <script type="module" src="../index.js"></script>
  </body>
</html>
